h1 {
    color: black;
    text-align: center;
    font-size: 50px;
}

.frase1 {
    color: green;
    background-color: gray;
    font-size: 36px;
}

.frase2 {
    color: red;
    background-color: gray;
    text-align: center;
    font-size: 36px;
}

.frase3 {
    color: blue;
    background-color: gray;
    text-align: right;
    font-size: 50px;
}

.frase4 {
    color: purple;
    background-color: gray;
    text-align: center;
    font-size: 36px;
}

.frase5 {
    color: yellow;
    background-color: gray;
    font-size: 36px;
}

.frase6 {
    color: pink;
    background-color: gray;
    text-align: center;
    font-size: 36px;
}

body {
    background-color: #e6e68b;
}

ul {
    background-color: white;
}
