
<!--importar p layout do template-->
{% extends 'templates.html' %}

<!--define o bloco onde o conteudo sera exibido-->
{% block conteudo%}

<h1> Exercícios: </h1>

<div class="card">
        <h3><strong>08-08</strong></h3>
        <ul>
            <li><a href="{{ url_for('exercicios1') }}"
                   target="_blank"> Exercício 1</a></li>
            <li><a href="{{ url_for('exercicios2') }}"
                   target="_blank"> Exercício 2</a></li>
            <li><a href="{{ url_for('exercicios3') }}"
                   target="_blank"> Exercício 3</a></li>
            <li><a href="{{ url_for('exercicios4') }}"
                   target="_blank"> Exercício 4</a></li>
        </ul>
    </div>

    <div class="card">
        <h3><strong>22-08</strong></h3>
        <ul>
            <li><a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/22-08/exercicio%201.html?_ijt=sremrcnfckp6snva6s9c7q9lvk"
               target="_blank"> Exercício 1</a></li>
            <li><a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/22-08/exercicio%202.html?_ijt=sremrcnfckp6snva6s9c7q9lvk"
                   target="_blank"> Exercício 2</a></li>
            <li><a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/22-08/exercicio%203.html?_ijt=sremrcnfckp6snva6s9c7q9lvk"
                   target="_blank"> Exercício 3</a></li>
            <li><a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/22-08/exercicio%205.html?_ijt=90tnolhteopeq81n349t0n5j39"
                   target="_blank"> Exercício 5</a></li>
        </ul>
    </div>

    <div class="card">
        <h3><strong>29-08</strong></h3>
        <ul>
            <li><a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/29-08/exerc%C3%ADcio%201.html?_ijt=vl700069hdg7q0516f34s9ers0"
           target="_blank"> Exercício 1</a></li>
            <li><a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/29-08/exerc%C3%ADcio%202.html?_ijt=vl700069hdg7q0516f34s9ers0"
           target="_blank"> Exercício 2</a></li>
            <li><a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/29-08/exerc%C3%ADcio%203.html?_ijt=vl700069hdg7q0516f34s9ers0"
           target="_blank"> Exercício 3</a></li>
            <li><a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/29-08/exerc%C3%ADcio%204.html?_ijt=vl700069hdg7q0516f34s9ers0"
           target="_blank"> Exercício 4</a></li>
            <li><a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/29-08/exerc%C3%ADcio%205.html?_ijt=vl700069hdg7q0516f34s9ers0"
           target="_blank"> Exercício 5</a></li>
        </ul>
    </div>

    <div class="card">
        <h3><strong>20-09</strong></h3>
        <ul>
            <li><a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/20-09/exerc%C3%ADcio%201.html?_ijt=fjqhv52fpmnde6hdj0oc7l0hqt" target="_blank"> Exercício 1</a></li>
            <li><a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/20-09/exerc%C3%ADcio%202.html?_ijt=fjqhv52fpmnde6hdj0oc7l0hqt" target="_blank"> Exercício 2</a></li>
            <li><a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/20-09/exerc%C3%ADcio%203.html?_ijt=fjqhv52fpmnde6hdj0oc7l0hqt" target="_blank"> Exercício 3</a></li>
            <li><a href="http://localhost:63342/webSENAI/Exerc%C3%ADcios/20-09/exerc%C3%ADcio%204.html?_ijt=fjqhv52fpmnde6hdj0oc7l0hqt" target="_blank"> Exercício 4</a></li>
        </ul>
    </div>

    <div class="card">
        <h3><strong>27-09</strong></h3>
        <ul>
            <li><a href="http://localhost:60956/webSENAI/Exerc%C3%ADcios/27-09/exerc%C3%ADcio%201.html?_ijt=ofq6073hac3741en5bqv6dgcuv" target="_blank"> Exercício 1</a></li>
            <li><a href="http://localhost:60956/webSENAI/Exerc%C3%ADcios/27-09/exercicio2.html?_ijt=ofq6073hac3741en5bqv6dgcuv" target="_blank"> Exercício 2</a></li>
            <li><a href="http://localhost:60956/webSENAI/Exerc%C3%ADcios/27-09/exercicio3.html?_ijt=ofq6073hac3741en5bqv6dgcuv" target="_blank"> Exercício 3</a></li>
            <li><a href="http://localhost:60956/webSENAI/Projetos/exercicio4.html?_ijt=ao4bs54vggotmgmou4ueif35j6" target="_blank"> Exercício 4</a></li>
        </ul>
    </div>

{% endblock %}

