<!--head = pensamentos/ atrás do site-->
<!--body = minha fala/ oque exibe-->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
<!--    UTF-8 para indentificar letras com assento-->
    <meta charset="UTF-8">
    <title>Tags de texto</title>
</head>
<!--Tudo que vai exibir no site tem que estar dentro do body-->
<body>
<!--<p></p> = serve para exibir as palavras-->
<p>Isso é um parágrafo</p>

<!--<h1> é o tamanho da fonte-->
<h1>Isso é um cabeçalho 1</h1>
<h2>Isso é um cabeçalho 2</h2>
<h3>Isso é um cabeçalho 3</h3>
<h4>Isso é um cabeçalho 4</h4>
<h5>Isso é um cabeçalho 5</h5>
<h6>Isso é um cabeçalho 6</h6>

<!--<stronh> </stronh> = serve para deixar em negrito-->
<p>Esse é um texto em <strong> negrito</strong></p>

<!--<em></em> = serve para deixar em itálico-->
<p>Esse é um texto em <em> itálico</em></p>

<!--<u></u> = é usado para texto sublinhado-->
<p>Esse é um texto <u>sublinhado </u></p>

<!--quando usa os 3 ao mesmo tempo, fica em itálico,negrito e sublinhado-->
<p>Esse é um texto <strong><em><u> com os 3 </u></em></strong></p>

<!--<br> = é usado para quebrar a linha, ficar uma embaixo da outra-->
<p>Essa é a primeira linha <br> Essa é a segunda linha</p>

<!--<hr> = é usado para colocar uma linha para separar-->
<p>Essa é a primeira linha <p>
<hr>
<p>Essa é a segunda linha</p>

<!--<mark></mark> = usado para deixar a palavra grifada-->
<p>Esse é um texto <mark> grifado </mark></p>

<!--<small></small> = usado para deixar a palavra menor-->
<p>Esse é um texto <small> com a palavra pequena </small></p>

<!--<del></del> = usado para riscar a palavra-->
<p>Esse é um texto <del> riscado </del></p>

<!--<sup></sup> = usado para subir a palvra-->
<p>Esse é um texto <sup> em que a palavra foi para cima </sup></p>

<!--<sub></sub> = usado para a palavrar ficar mais embaixo-->
<p>Esse é um texto <sub> em que a palavra foi para baixo </sub></p>

<!--<code></code> é usado para mudar a fonte-->
<p>Esse é um texto <code> com outra fonte </code></p>

<!--<abbr litle= ""> </abbr> = usado em sigla para saber o significado-->
<p>Eu estudei no <abbr title="serviço nacional da indústria"> SESI </abbr></p>

<hr>

<p>Lista sem ordenação:</p>
<!-- <ul></ul> serve para comentar lista com ponto-->
<ul>
    <li>Item da lista</li>
    <li>Item da lista</li>
    <li>Item da lista</li>
</ul>

<p>Lista numerada:</p>
<!-- <ul></ul> serve para comentar lista com numero-->
<ol>
    <li>Item Enumerado</li>
    <li>Item Enumerado</li>
    <li>Item Enumerado</li>
</ol>

<hr>

<!--<a href="">Link</a> serve para fazer link-->
<a href="http://www.youtube.com">Link</a>
<br>

<!--serve para fazer link com nova aba-->
<a href="http://www.google.com" target="_blank">link nova aba</a>
<br>

<!--serve para abrir nova aba fazer link e mostrar oq e quando por o mouse por cima-->
<a href="http://www.google.com" target="_blank" title="Google">link</a>
<br>

</body>
</html>